<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.JobReviewMapper">
	<select id="listAllJobReview" parameterType="_int" resultType="vo.JobReviewVO">
		select review_id,post_id,review_userid,review_comment,
		to_char(review_date,'yyyy"년" mm"월" dd"일" hh24"시":mi"분"') review_date,
		review_rate from jobreview where post_id=#{post_id} 
		order by review_date
	</select>
	<select id="getCountJobReview" resultType="vo.JobReviewVO">
		select review_id,post_id,review_userid,review_comment,
		to_char(review_date,'yyyy"년" mm"월" dd"일" hh24"시":mi"분"') review_date,
		review_rate from jobreview
	</select>
	<insert id="insertJobReview" parameterType="vo.JobReviewVO">
		insert into jobreview values 
		(#{review_id},#{post_id},#{review_userid},
		#{review_comment},sysdate,#{review_rate})
	</insert>
	<update id="updateJobReview" parameterType="vo.JobReviewVO">
		update jobreview set review_comment=#{review_comment},
		review_rate=#{review_rate} where review_id=#{review_id}
	</update>
	<delete id="deleteJobReview" parameterType="_int">
  		delete from jobreview where review_id=#{review_id}
  	</delete>
</mapper>