<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="resource.LoginMapper">
  <select id="getVO" parameterType="string" resultType="vo.LoginVO">
	  	select mem_userid,mem_password,mem_username,mem_email,
	  	to_char(mem_birthday,'yyyy"년" mm"월" dd"일" hh24"시":mi"분"') mem_birthday,mem_sex,
	  	mem_phone,mem_address,to_char(mem_register_date,'yyyy"년" mm"월" dd"일" hh24"시":mi"분"') mem_register_date,
	  	mem_photo,mem_is_employer from meminfo where mem_userid=#{mem_userid}
	</select>
	</mapper>